{% extends 'base.html.twig' %}

{% block title %}MoMoMotus{% endblock %}

{% block body %}

<div class="container">
    <h1>MoMoMotus</h1>

    <p>Le mot que vous recherchez est {{word.letters}}</p>

    <div id="board-container">
    </div>
</div>
{% endblock %}
