@import "~bootstrap/scss/bootstrap";

body {
    background-color: #b9eaff;
}


.square{
	height: 50px;
	width: 50px;
	float: left;
	border: 1px solid #4ec2f4;
	padding: 0;
	line-height: 50px;
    text-align: center;
    font-size: 35px;
    background: #2188d7;
    color: white;
    outline: none;
    &.color1{
    	background: #deaf28;
    }
    &.color2{
    	background: #b5262e;
    }
}

.board-row{
	clear: both;
}
