{% extends 'base.html.twig' %}

{% block title %}MoMoMotus{% endblock %}

{% block body %}

<div class="container">
    <h1>MoMoMotus</h1>
    <div id="error-container"></div>
    <div id="board-container">
    </div>
</div>
{% endblock %}
